* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.item-holder {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: solid black;
  cursor: pointer;
}

.brief-des {
  font-size: 10px;
  margin-bottom: 5px;
  margin: 0 auto;
}

.quick-brief {
  width: 150px;
  margin: 0 auto;
}

.rating {
  font-size: 10px;
}

.item-container {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-container .itemDes {
  width: 500px;
}

.close {
  padding: 10px 30px;
  cursor: pointer;
  background-color: aqua;
}